/* CSS declarations go here */
body {
    font-family:Droid-Sans, sans-serif;
    color: #cd7e00;
    background: rgba(0, 0, 0, 0.75) url('ros-logo.gif') no-repeat left 50px top 100px;
}

fieldset {
    border-radius: 10px;
    border-color: #cd7e00;
}



input,textarea {
    background-color:rgba(0, 0, 0, 0);
    color: white;
    height: 18px;
    padding: 5px;
    margin: 2px;
    border-color: #cd7e00;
    border-radius: 10px;
}

input:focus,textarea:focus {
    background: black;
}

input:hover,textarea:hover {
    background: black;
}


button {
    background-color:rgba(0, 0, 0, 0);
    color: #cd7e00;
    height: 28px;
    border-color: #cd7e00;
    border-radius: 10px;
}

button:hover {
    color: #000000;
    background-color: #cd7e00;
}

button.active {
    color: #000000;
    background-color: #cd7e00;
}

.directory {
    width: 600px;
}


.selected {
    color: #000000;
    background-color: #cd7e00;
}

.box {
    border-radius: 10px;
    border: 2px solid #cd7e00;
    padding: 5px;
    margin: 2px;
}

.search_pane input {
    width: 96.5%;
    margin-bottom: 20px;
}



.search_button {
    background-color:rgba(0, 0, 0, 0);
    width: 35px;
    height: 35px;
}

.search_result {
    display: flex;
    flex-direction: column;
}

.search_result button {
    float: right;
}

.search_result textarea {
    box-sizing: border-box;
    height: 500px;
}

.selectable:hover {
    color: #000000;
    background-color: #cd7e00;
}

.top_menu {
    height: 40px;
}

.left_pane {
    order: 1;
    width: 40%;
}

.middle_pane {
    order: 2;
    flex-grow: 1
}

.right_pane {
    order: 3;
    flex-grow: 1;
}

.bottom_pane {
    display: flex;
}

/* Line 1 */
.form-control
{
    /*display: block;*/
}


textarea.form-control  {
    width: 98%;
    height: 300px;
}

input.form-control {
    width: 600px;
}

label.control-label {
    width: 100px;
    clear: both;
    float:left;
    margin-right:15px;
    color: white;
}

.help-block {
    color: red;
}

.green {
    border-color: green;
    color:green;
}

.green button {
    border-color: green;
    color:green;
}

.red {
    border-color: red;
    color:red;
}

.red button {
    border-color: red;
    color:red;
}

